html {
  background-color: #dfdfe7;
}

.App {
  text-align: center;
    background-color: #dfdfe7;
}

.todo{
  align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}